.card-columns {
    margin: 8px; 
    column-count: 1 !important;
}

@media (min-width: 768px) {
    .card-columns {
        margin: 8px; 
        column-count: 2 !important;
    }
}

@media (min-width: 960px) {
    .card-columns {
        margin: 8px;
        justify-content: space-between;
        display: flex;
        column-count: 3 !important;
    }
}


/* .list-group-item {
    display: list-item !important;
  } */