* {
  margin: 0;
  padding: 0;

  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  /* background-color: aquamarine; */

}

.global-container{
  width: 100%;
  height: 100%;
}
.navbar {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  background-color: #bababa;

  color: white;
  width: 100%;
  height: 6.4rem;
  position: sticky;
  top: 0px;
  /* padding: 0 30px; */
  transition: 0.5s ease-in;
}
.logo{
  margin-left: 3rem;
}
ul {
  /* Removes the bullet points in the ul */
  list-style: none;
}
.navbar a {
  text-decoration: none;
  color: white;
  background-color: #bababa;
  font-size: 2rem;
  height: 100%;
  
  /* padding: 2rem 2rem; */
  padding-left: 1.5rem;
  padding-right: 1.5rem;

  padding-top: 2rem;
  padding-bottom: 1.85rem;
  height: 100%;
  /* width: 150rem; */
  /* margin: 0 5px; */
  /* height: 100%; */
}
/* .search-container input{
width:20rem;
} */
/* li{
  height: 100%;
} */
.navbar ul {
  display: flex;
  flex-basis: auto;
  flex-grow: 2;
  align-items: space-between;
  flex-direction: row;
}
.navbar li :hover {
  background-color: #aaaaaa;
  color: #6b6b6b;
} 
.search-bar {
  width: 18rem;
  height: 2.5rem;
  border-radius: 1rem;
  font-size: 1.3rem;
}
.search-button {
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 1rem;
  margin-top: 1rem;
}

.navtext {
  font-size: 2rem;
}
/* CSS for navbar end */

/* CSS for main page (filter + grid) */

/* CSS for filter page */
.filter-container {
  background-color: #c4c4c4;
  /* padding: 10rem; */
  /* padding-left: 5rem;
  padding-right: 5rem; */
  display: flex;
  align-items: center;
  flex-direction: column;
}
/* for h2 */
.filter-container h2 {
  font-size: 3rem;
  color: #6b6b6b;
  /* background-color: salmon; */
  text-align: center;
  width: 100%;
  margin: 0;
  padding-top:1.5rem;
  padding-bottom:1.5rem;
  /* padding-left: 4rem;
  padding-right: 4rem; */
}

.filter-container * {
  padding-top: 0.25rem;
  background-color: #b0b0b0;
  /* padding: 1rem 3rem; */
  /* padding: 1.5rem; */
  /* width: 130px; */
  /* padding: 0;
  margin: 0; */
  font-size: 2rem;
  padding-bottom: .5rem;
}
/* .filter-container li{
padding-bottom: 3rem;
} */
.recipes-container {
  background-color: purple;
  
  width: 100%;
}
.filter-and-recipe-container {
  display: flex;
  /* justify-content: flex-start; */
  flex-direction: row;
  /* align-items: flex-start; */
  width: 100%;
  height: 100%;
  background-color: saddlebrown;
}
/* trying the input itself */
.filter-container input {
  padding: 2rem;
  background-color: blue;
}
/* trying to style details */
details {
  /* margin-left: 2rem; */
  margin: 0px;
  padding-left: 4rem;
  padding-right: 0rem;

  width: 15rem;
}
.filter-container li {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  /* height: 2rem; */
}

input[type="checkbox"] {
  width: 1.5rem;
  height: 1.5rem;
  margin-right: 1rem;
}
input[type="range"] {
  width: 8rem;
}
.selectedTime {
  font-size: 1.8rem;
  text-align: center;
}
/* 
Styling for favorites buttons
 */
.flex-column-container {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  width: 100%;
}
.button-container {
  background-color: blue;
  height: 10rem;
}
.favorites-button-container {
  /* background-color: blue; */
  height: 4rem;
  display: flex;
  background-color: #e8e8e8;
  width: 100%;
  padding-top:1rem;
  padding-bottom:1rem;
}
.favorites-button {
  width: 13rem;
  height: 4rem;
  border-radius: 1.8rem;
  background-color: #c4c4c4;
  color: #6b6b6b;
  font-size: 1.9rem;
  margin-left: 2rem;
  padding: 0px;
  border: none;
}
button.favorites-button:hover {
  background-color: #aaaaaa;
  color: #6b6b6b;
}
